body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.site-container{
  min-height: 100vh
}

.background {
  background-color: #13157f;
}

.font-color {
    color: #fff!important;
}

main{
  flex: 1
}

.image-cover{
  width: 370px;
  height: 350px;
}

.btn-primary, .btn-outline-primary{
  background-color:#15bcaf;
  color: #fff;
  border: none;
}

.products{
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
}

.rating span{
  color: #15bcaf;
}

.product {
  min-height: 100%;
}

.product img {
  width: 100%;
  max-width: 400px;
}

.product-info{
  padding: 1rem;
} 

.img-large{
  max-width: 100%;
}

.trend{
  font-size: 25px;
  font-weight: bold;
  line-height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-body{
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.product-name{
  flex: 1;
  text-decoration: none;
  color: #13157f
}

.center{
  display: flex;
  justify-content: center;
}

.img-thumbnail{
  height: 80px;
}

.small-container{
  max-width: 600px;
}

.checkout-steps > div{
  border-bottom: 0.2rem solid #a0a0a0;
  color: #a0a0a0;
}

.checkout-steps > div.active {
  border-bottom: 0.2rem solid #f08000;
  color: #f08000;
}

#basic-nav-dropdown, #admin-nav-dropdown{
  color: #fff;
}

#card{
  flex-direction: row !important;
  justify-content:space-between !important;
  align-items: inherit !important;
}

#card-sum-order{
  align-items: inherit !important;
}

.navbar-brand:hover {
    color: #fff!important;
}

.footer{
  background-color: #F0F8FF;
  position: relative;
  overflow: hidden;
}

.footer-content {
  display: flex;
  color: #13157f;
  flex-wrap: wrap;
  width: 779px;
  justify-content: space-between;
  margin-top: 24px;
  margin-right: 306px;
}

.list-title {
  font-family: "Manrope";
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #13157f;
  opacity: 0.5;
}

.list {
  list-style: none;
  font-family: "Manrope";
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  opacity: 0.9;
  padding: 0;
  margin-top: 12px;
}

.list-item {
  font-size: 16px;
  line-height: 20px;
  padding: 8px 0;
  cursor: pointer;
}

.wrap-list {
  max-width: 100%;
}

.wrap-footer {
  display: flex;
  padding-left: 86px;
  padding-right: 86px;
  padding-top: 30px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  object-fit: cover;
}

.wrap-list-contact{
  color: #13157f;
}

.list-contact {
  list-style: none;
  font-family: "Manrope";
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  opacity: 0.9;
  padding: 0;
  margin-top: 12px;
  display: flex;
  flex-wrap: wrap;
  width: 779px;
  justify-content: space-between;
  margin-top: 24px;
  margin-right: 306px;
}

.list-item-contact{
  cursor: pointer;
}

.copyright {
  border-top: 2px solid #000273;
  margin-top: 70px;
  padding: 0 86px;
  font-family: Harmonia Sans Pro Cyr Semi Bold;
  font-size: 16px;
  font-weight: 600;
  line-height: 36px;
  color: #5b5d9b;
}
/* sidebar */
.navbar-brand {
  font-weight: bold;
}

.side-navbar {
  width: 200px;
  height: 100%;
  position: absolute;
  left: -300px;
  background-color: #13157f;
  transition: 0.5s;
}

.site-container{
  transition: 0.4s;
}

.active-cont{
  margin-left: 200px;
}

.active-nav{
  left: 0;
}

#btn-category{
  background-color: #13157f;
}

.nav-link-category{
  color: #fff
}

.nav-link-category:hover{
  color: #65ffcc;
}

.text-bold {
  font-weight: bold;
}

#search-ul{
  list-style: none!important;
  padding-left: 1rem!important;
}

#search-li{
  margin: 10px 0px 10px 0px!important;
}

.lui {
    left: 0px!important;
}

#admin-nav-dropdown + .dropdown-menu[data-bs-popper] {
    left: -115px!important;
}

th{
  vertical-align: top
}

.fixed{
  position: fixed;
  z-index: 9999;
}

.nav-fixed{
  left: 0;
  right: 0;
  position: fixed;
}

.active-nav-fixed{
  margin-left:200px;
}

.mt-70{
  margin-top: 70px
}

#link-category{
  color: #000!important;
  text-decoration: none!important;
}

#link-category:hover{
  background-color: #e8f6f9;
  padding: 0.1875rem 0.5rem;
  border-radius: 5px;
  transition: 0.2s;
}

