body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.site-container{
  min-height: 100vh
}

.background {
  background-color: #13157f;
}

.font-color{
  color: #fff;
}

main{
  flex: 1
}

.image-cover{
  width: 370px;
  height: 350px;
}

.btn-primary{
  background-color:#15bcaf;
  color: #fff;
  border: none;
}

.products{
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
}

.rating span{
  color: #15bcaf;
}

.product {
  /* border: 1px solid #404040; */
  /* margin: 1rem; */
  min-height: 100%;
}

.product img {
  width: 100%;
  max-width: 400px;
}

.product-info{
  padding: 1rem;
} 

.img-large{
  max-width: 100%;
}

.trend{
  font-size: 25px;
  font-weight: bold;
  line-height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-body{
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.product-name{
  flex: 1;
}

.center{
  display: flex;
  justify-content: center;
}

.img-thumbnail{
  height: 80px;
}

.small-container{
  max-width: 600px;
}

.checkout-steps > div{
  border-bottom: 0.2rem solid #a0a0a0;
  color: #a0a0a0;
}

.checkout-steps > div.active {
  border-bottom: 0.2rem solid #f08000;
  color: #f08000;
}

#basic-nav-dropdown{
  color: #fff;
}

#card{
  flex-direction: row !important;
  justify-content:space-between !important;
  align-items: inherit !important;
}

#card-sum-order{
  align-items: inherit !important;
}