body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.site-container{
  min-height: 100vh
}

.background {
  background-color: #13157f;
}

.font-color{
  color: #fff;
}

main{
  flex: 1
}

.image-cover{
  width: 370px;
  height: 350px;
}

.btn-primary{
  background-color:#15bcaf;
  color: #fff;
  border: none;
}

.products{
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
}

.rating span{
  color: #15bcaf;
}

.product {
  /* border: 1px solid #404040; */
  /* margin: 1rem; */
}

.product img {
  width: 100%;
  max-width: 400px;
}

.product-info{
  padding: 1rem;
} 

.img-large{
  max-width: 100%;
}

.trend{
  font-size: 25px;
  font-weight: bold;
  line-height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}